tutorialOverlays
{
    zorder 200
	
	container Panel(fullTutorial)
	{
		container Panel(tutorialTextBox4)
		{
			metrics_mode pixels
			horz_align center
			vert_align bottom
			left 0
			top -100
			width 200
			height 200

			element TextArea(tutorialBackButton)
			{
				metrics_mode pixels
				font_name dialogFont
				alignment center
				caption Back
				colour 0.6 0.6 0.6
				char_height 96
			}
		}
		container Panel(tutorialTextBox5)
		{
			metrics_mode pixels
			horz_align right
			vert_align bottom
			left -100
			top -200
			width 200
			height 200

			element TextArea(tutorialNextButton)
			{
				metrics_mode pixels
				font_name dialogFont
				alignment center
				caption Next
				colour 0.6 0.6 0.6
				char_height 96
			}
		}
		container Panel(tutorialTextBox6)
		{
			metrics_mode pixels
			horz_align left
			vert_align bottom
			left 160
			top -200
			width 200
			height 200

			element TextArea(tutorialPreviousButton)
			{
				metrics_mode pixels
				font_name dialogFont
				alignment center
				caption Previous
				colour 0.6 0.6 0.6
				char_height 96
			}
		}
		container Panel(tutorialTextBox1)
		{
			metrics_mode pixels
			horz_align center
			vert_align top
			left 0
			top 600
			width 200
			height 200

			element TextArea(tutorialText1)
			{
				metrics_mode pixels
				font_name dialogFont
				alignment center
				caption text1
				colour 0.6 0.6 0.6
				char_height 48
			}
		}
		container Panel(tutorialTextBox2)
		{
			metrics_mode pixels
			horz_align center
			vert_align top
			left 0
			top 600
			width 200
			height 200

			element TextArea(tutorialText2)
			{
				metrics_mode pixels
				font_name dialogFont
				alignment center
				caption text2
				colour 0.6 0.6 0.6
				char_height 48
			}
		}
		container Panel(tutorialTextBox3)
		{
			metrics_mode pixels
			horz_align center
			vert_align top
			left 0
			top 600
			width 200
			height 200

			element TextArea(tutorialText3)
			{
				metrics_mode pixels
				font_name dialogFont
				alignment center
				caption text3
				colour 0.6 0.6 0.6
				char_height 48
			}
		}
	}
}